services:
  - type: web
    name: food-delivery
    runtime: python
    buildCommand: pip install -r requirements.txt
    startCommand: gunicorn wsgi:app
    envVars:
      - key: SECRET_KEY
        generateValue: true
      - key: DATABASE_URL
        fromDatabase:
          name: food-delivery-db
          property: connectionString
      - key: PYTHONPATH
        value: /opt/render/project/src
      - key: FLASK_APP
        value: wsgi.py

databases:
  - name: food-delivery-db
    plan: free