services:
  - type: web
    name: food-delivery
    runtime: python
    buildCommand: pip install -r requirements.txt
    startCommand: gunicorn wsgi:app
    envVars:
      - key: SECRET_KEY
        generateValue: true
      - key: DATABASE_URL
        fromDatabase:
          name: food-delivery-db
          property: connectionString

databases:
  - name: food-delivery-db
    plan: free